{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header %}
{% include "navbar.html" %}
{% include "message.html" %}
{% endblock header %}

{% block content %}
<div class="container">
  <h4 class="border-bottom border-secondary my-4 pb-3">{{ title }}</h4>

  <div class="list-group">
    {% for relation in relations %}
    <a href="{% url 'account:user_detail' pk=relation.reciver.pk %}" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ relation.reciver.fullname }}</h5>
        <small class="text-muted">{{ relation.updated_at }}</small>
      </div>
      <p class="mb-1">{{ relation.get_status_display }}</p>
    </a>
    {% endfor %}
  </div>

</div>
{% endblock content %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}