{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header %}
{% include "navbar.html" %}
{% include "message.html" %}
{% endblock header %}

{% block content %}
<div class="container">
  <h4 class="border-bottom border-secondary my-4 pb-3">{{ title }}</h4>

  <div class="list-group">
    <a href="{% url 'account:profile' %}" class="list-group-item list-group-item-action"><b>مشاهده حساب کاربری</b></a>
    <a href="{% url 'account:phone_change' %}" class="list-group-item list-group-item-action"><b>ویرایش شماره موبایل</b></a>
    <a href="{% url 'account:profile_change' %}" class="list-group-item list-group-item-action"><b>ویرایش حساب کاربری</b></a>
    <a href="{% url 'account:khosousiaat_change' %}" class="list-group-item list-group-item-action"><b>ویرایش خصوصیات</b></a>
    <a href="{% url 'account:entezaaraat_change' %}" class="list-group-item list-group-item-action"><b>ویرایش انتظارات</b></a>
    <a href="{% url 'account:partner_search' %}" class="list-group-item list-group-item-action"><b>جستجوی همسان</b></a>
    <a href="{% url 'account:sending_requests' %}" class="list-group-item list-group-item-action"><b>مشاهده درخواست های ارسالی</b></a>
    <a href="{% url 'account:reciving_requests' %}" class="list-group-item list-group-item-action"><b>مشاهده درخواست های دریافتی</b></a>
    <a href="{% url 'account:logout' %}" class="list-group-item list-group-item-action"><b>خروج</b></a>
  </div>

</div>
{% endblock content %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}